@use './variables' as *;

header {
    height: 50px;
    width: 100%;
    background-color: $bg-header;
    position: fixed;
    z-index: 1;

    .topbar {
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .categorie {
        color: white;
        font-size: .8rem;
        font-weight: bold;

        .top-link {
            text-decoration: none;
            color: white;
            margin: 0 8px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .logo {
        width: 100px;
    }

    .area-personale {
        font-size: .8rem;
        color: white;

        i {
            padding-right: 5px;
        }
    }
}
